/* Scss Document */

$color-primary: #C51066;
$color-secondary: #79224B;
$color-white: #FFFFFF;
$color-border:#979797;
$color-lightGray: #A8A8A8;
$color-lightOrange: #F6A285;
$color-lightPurple: #C5B7B9;
$color-gray: #4A4A4A;
$color-btn-gray: #D8D8D8;
$color-green: #7ED321;

$font-primary: Kiro-light, sans serif;
$font-primaryLight: Sica-Light, sans serif;
$font-secondary: arial, sans serif;
$main-header-size: 48px;
$mid-header-size: 24px;
$smaller-header-size: 18px;
$main-paragraph-size: 16px;
$main-header-size-mobil: 28px;
$secondary-header-size-mobil: 16px;
$main-paragraph-size-mobil: 14px;
$paddingArticle-mobil: 20px;
$paddingOpeningSection: 65px;
$margintwenty: 20px;
$marginfourty: 40px;

