@font-face {
  font-family: 'Kiro-regular';
  src: url('../fonts/Kiro Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Kiro Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Kiro Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Kiro Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Kiro Regular.svg#17e824ac9f85e6c588af66cdd2c1659e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'Kiro-light';
  src: url('../fonts/Kiro Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Kiro Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Kiro Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Kiro Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Kiro Light.svg#f45cf22c23afcfd953e21db995b44b1f') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Kiro-extra-light';
  src: url('../fonts/Kiro Extra Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Kiro Extra Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Kiro Extra Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Kiro Extra Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Kiro Extra Light.svg#faa0605734111f51d6bdab532167c6dd') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

/* Scss Document */
@import "compass/css3";
@import "variables";
@import "mixins";


body{
	font-family: Kiro-light;
	
}
.test {
	background: $color-secondary;
}
/*general*/
::-moz-selection {
    background: $color-secondary;
    color: $color-lightPurple;
}

::selection {
    background: $color-secondary;
    color: $color-lightPurple;
}
.glyphicon {
	top: 3px;
	margin-right: 5px;
	color: $color-white;
	opacity: 1 !important;
}
/*opening*/
.openingBlog, .openingPlace {
	margin-top: $paddingOpeningSection;
}

.openingBlog {
	h2, .small, p {
			text-align:center;
	}
	h2 {
		font-size: $margintwenty;
		color: $color-primary;
		margin-bottom: 3px;
	}
	.small {
		margin-bottom: 10px;
		display: block;
		color: $color-lightGray;
		font-size: 1em;
	}
	P {
	color: $color-gray;	
	margin-bottom: 25px;
	}
}
.btn {
	border-radius: 32px;
	font-size: 15px;
	padding: 4px 33px;
	}
.btn-default {
    color: $color-primary;
    border-color: $color-btn-gray;
}

.iconOpening {
	background-color: $color-secondary;
	height: 42px;
	border-radius: 32px;
}
.marginBottom{
	margin-bottom: $paddingOpeningSection;
}
.marginBottomSmall{
	margin-bottom: 30px;
}
.owlePadding {
	padding-left:0px;
	padding-right: 0px;
}
.item {
	padding-left:15px;
	padding-right: 15px;
}

/*places opening*/
.openingPlace 
	h3 {
	text-align: center;
	color: $color-primary;
	font-size: $mid-header-size;	
	margin-top:0;
	margin-bottom: $margintwenty;
	letter-spacing: 2px;
}
.openingPlace h5{
	font-size: $smaller-header-size;
	text-align: center;
	color: $color-lightGray;
	margin-top: $margintwenty;
	margin-bottom: 5px;
	}
.openingPlace .item a {
		text-decoration: none;
}
.openingPlace .item h5:hover {
		text-decoration: none;
		color: $color-primary;
}
.section-title {
	height: 1px;
	background: none repeat scroll 0% 0% $color-lightGray;
}
.section-title span {
	background: none repeat scroll 0% 0% #FFF;
	padding: 0px 15px;
	top: -13px;
	position: relative;
	}
/*owl carousel*/
.owl-theme .owl-controls {
    margin-top: 0;
}

/*carousel*/
#carousel-example-generic .item {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
}

.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  transition: opacity ease-out .7s;
  left: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}

.carousel.fade .item:first-child {
  top: auto;
  opacity: 0;
  position: relative;
}

.carousel.fade .item.active {
  opacity: 1;
}

.carousel-control {
  opacity: 0;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

/*header*/
header {
	position: fixed;
	top: 25px;
	left: 78px;
	z-index:100;
	width: 168px;
	.brand-BG {
	height: 168px;
	width: 168px;
	display: table;
	@include BgBox;
	}
	.brand-wrapper {
	display: table-cell;
	vertical-align:middle;
	}
	h1 {
		font-size: 1.143em;
		@include paddingMarginZero;
		text-align: center;
		color: $color-white;
		letter-spacing: 2px;
	}
	.logoColor {
		color:$color-white;
	}
	img {
		margin-bottom: 5px;
	}
	footer {
	display: table;
	height: 85px;
	@include BgBox;
	width: 168px;
	
	}
	.social {
	display: table-cell;
	vertical-align:middle;
	text-align: center !important; 
	}
}
/*navigation*/

.navbar {
    border-radius: 0;
	border: none;
	margin-bottom: 1px;
}
.navbar-default {
    background-color: transparent;
    border: none;
}

.navbar-nav > li {
    float: none;
	margin-bottom: 1px;
}

.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav {
    width: 168px;
    margin-top: 2px;

}

.navbar-default .navbar-nav > li > a {
    color: $color-lightPurple;
	text-align: center;
	@include BgBox;
	font-size: $main-paragraph-size;
	letter-spacing: 2px;
	padding-top: 8px;
	padding-bottom: 7px;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
	@include BgBox;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #FFF;
    @include lighterPurplePlusBg;
}

/*social footer nav */

footer .soc {
	padding-left: 0px;
	list-style: outside none none;
	text-align: center;
	margin-bottom: 0;

	}
	
footer ul li {
    display: inline-block;
	border-radius: 32px;
	border: 1px solid $color-lightPurple;
	width: 35px;
	height: 35px;
	@include paddingMarginZero;
	margin-right: 4px;
	text-indent: -3000px;
}
footer ul li.facebook {
	background-image:url(../images/hidden-hungary-social-facebook-header.svg);
	background-repeat: no-repeat;
}
footer ul li.twitter {
	background-image:url(../images/hidden-hungary-social-twitter-header.svg);
	background-repeat: no-repeat;
}
footer ul li.instagram {
	background-image:url(../images/hidden-hungary-social-instagram-header.svg);
	background-repeat: no-repeat;
}

footer ul li a {
    padding: 0;
	width: 35px;
	height: 35px;
	display: block;

}
footer ul li:hover {
	opacity:1;

}
footer ul li.facebook:hover {
	background-image:url(../images/hidden-hungary-social-facebook-headerOver.svg);
	background-repeat: no-repeat;
	border: 1px solid $color-white;
}
footer ul li.twitter:hover {
	background-image:url(../images/hidden-hungary-social-twitter-headerOver.svg);
	background-repeat: no-repeat;
	border: 1px solid $color-white;
}
footer ul li.instagram:hover {
	background-image:url(../images/hidden-hungary-social-instagram-headerOver.svg);
	background-repeat: no-repeat;
	border: 1px solid $color-white;
}
/*form*/

.form-control {
    height: 43px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: $color-lightPurple;
    border-radius: 0px;
	border-color:$color-lightPurple;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.0) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-control:focus {
    border-color: $color-primary;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(197, 16, 102, 0.6);
}
label {
	color: $color-white;
	letter-spacing: 1px;
	font-weight: normal;
}
.submit {
		margin-top: 30px;
		margin-bottom: 10px;
		border: none;
		-moz-transition: all .2s ease-in;
		-o-transition: all .2s ease-in;
		-webkit-transition: all .2s ease-in;
		transition: all .2s ease-in;
		background: $color-secondary;
		color: $color-white;
		letter-spacing: 1px;
		&:hover {
		background: $color-primary;
		color: $color-white;
		
		}
}

/*content right*/

.contentRight {
	overflow:auto;
	overflow-x: hidden;
	top: 0px;
	left: 274px;
	position: fixed;
	width: 458px;
	height:100%;
	@include BgBox;
	z-index: 2000;
	p {
		font-size: $main-paragraph-size;
		color: $color-lightPurple;
		letter-spacing: .7px;
		margin-bottom: 20px;
		line-height: 160%;
		
	}
	h1 {
		font-size: 36px;;
		@include paddingMarginZero;
		color: $color-white;
		letter-spacing: 2px;
		font-family: Kiro-extra-light, sans-serif;
		margin-bottom: 20px;
		}
	.sectionTitleBig {
		height: 3px;
		background: none repeat scroll 0% 0% $color-secondary;
		border-radius: 32px;
		margin-top: 65px;
}
	.sectionTitleBig span {
		top: -47px;
		position: relative;
	}
	.tableHeader{
		display: table;
		margin-bottom: 10px;
		margin-top: 20px;
	}
	.tableCell{
		display: table-cell;
		vertical-align: middle;
	}
	h2 {
	@include heading24;
	}
	.tableCell.line {
		width: 100%;
	}
	.tableCell.line  span{
		height: 1px;
		background: none repeat scroll 0% 0% $color-white;
		display: block;
	}
	.tourList{
		@include paddingMarginZero;
		list-style: none;
	}
	.tourList li{
		background: none repeat scroll 0% 0% $color-primary;
		margin-bottom:1px;
		font-size: $main-paragraph-size;
		color: $color-white;
		padding: 4px 10px;
		letter-spacing: 1px;
	}
	.tourList li span{
		opacity: .5;
	}
	.tourDates {
		width: 110px;	
	}
		.tourIncluded {
		width: 185px;	
	}
		.tourNotIncluded {
		width: 225px;	
	}
	.tourFeatures p {
		margin: 0;
	}
	}
.paddingContent {
	padding: 25px;
		
	}
	
/*blog*/
.blog {
	width: 751px;
		overflow:auto;
	overflow-x: hidden;
	top: 0px;
	left: 274px;
	position: fixed;
	height:100%;
	@include BgBox;
	z-index: 2000;

	.media-heading {
		@include heading24;
	}
	.media-left{
	padding-right: 25px;
	}
	.media {
	border-bottom: 1px solid rgba( $color-white, .3);
	padding-bottom: 25px;
	margin-bottom: 20px;
	}
	.submit {
	margin-top:0;
	margin-bottom:0;
	color: rgba( $color-white, .7 );
	&:hover {
		color: rgba( $color-white, 1 );
	}
			}
	.small {
	color: $color-white;
	letter-spacing: 1px;
	font-size: 13px;
	margin-bottom: 15px;
	display: block;	}
}

	
::-webkit-scrollbar {
      width: 5px;
}
::-webkit-scrollbar-track {
      background-color: black;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: $color-primary; 
	  radius-corner: 32px;
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: black;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */



@media (max-width: 991px) {
header {
	position: fixed;
	top: 0px;
	left: 0px;	
	width: 100%;
	@include BgBox;;
.brand-BG {
    height: 50px;
    width: 100%;
	float: left;
	background: none;
	}
 img{
	width: 76px;
	height: 49px;
	padding: 7px 5px 3px 5px;
	position: absolute;	
	top: 2px;
}
h1 {
	vertical-align: middle;
	font-size: 20px;
	padding-top: 7px;
	
}
}
.navbar-default {
	
}
	.navbar-nav {
	width:100%;
	height:100%;
	background-color:transparent;
	border-radius: none;
	box-shadow: none;
	padding: 0;
	margin: 0px;

}
.navbar-nav > li > a {
	padding-left: 15px !important;
	border-radius: 15px;
	background-clip: padding-box;
}
.navbar-nav > li{
	border-bottom: none;
	margin-bottom: 1px;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
	color: #FFF !important;
	background-clip: padding-box;
	border-radius: 0px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	color: #FFF !important;
	border-radius: 15px;
	background-clip: padding-box;
	background: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	
}
.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
    background: transparent;
}
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
		padding-right:0;	
		padding-left:0;	

    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		padding:0 !important;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
		border-radius: 0px;
    }
    .collapse.in{
  		display:block !important;
	}
	.navbar-toggle {
	border: 1px solid #FFF;
	margin-top: -39px;
	margin-right: 5px;
	border-radius: 6px;
	margin-bottom:0px;
    display: block;
}
.opening h1 {
	text-align: center;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.firstpage.navbar-default {
    margin-top: 0;
}
.firstpage.navbar {
	margin-bottom: 0;
}
.navbar-default {
	margin-top: 7px;
}

.contentRight {
position: absolute;
z-index: 99;
margin: 110px 15px 15px;
left: 0px;
width: auto;
height: auto;
}


.carousel-inner.subpages {
    position: fixed;
}

}

@media (max-width: 440px) {
	.blog .media-left{
	width: 100%;
	display: block;	
	padding-right: 0px;

	}
	.media-list{
		text-align: center;
		img {
			margin: 0 auto;
		}
	}
}